.gitignore
.DS_Store
.ipynb_checkpoints
Not_Github
Miscellanious
BIG_DATA

# NRL
NRL/pcaF.pkl
NRL/venvNRL
NRL/NRL_Predictions.ipynb
NRL/.DS_Store
NRL/ipynb_checkpoints
NRL/PyTorch_Function_Examples.ipynb
